<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<div class="bg-white text-center mt-5">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
      <img class="d-block mx-auto mb-4" src=<%= @contract.device.orig_image_url%> alt="" width="72" height="72">
      <h1 class="cover-heading">Purchase is in processing</h1>
      <p class="lead">A payment request is forwarded to Finastra Central for completion.</p>
      <img src="/images/animated-gif-loading-6.gif">
    </main>
  </div>
</div>

