<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!--Card Dark-->
<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/images/banklogo.jpg" alt="" width="250" height="125">
    <!--h2><%= @payment.debitable.name %></h2-->
    <p class="lead text-left">
      Hi <%= @payment.debitable.user.name %>, <br> 
      Loan confirmation is accepted, purchase completed. Thank you. 
    </p>    
  </div> 
</div>

